*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.page1{
    height: 100vh;
    width: 100vw;
    background-color: #000512;
}

/*Custom Scroll-bar*/

::-webkit-scrollbar{
    width: 10px;
    background-color:#000511;
}


/* ::-webkit-scrollbar-thumb{
    width: 10px;
    background-image: linear-gradient(126.06deg,#4c7983 25.5%,#6c6276 51.53%,#7b555a 80.28%);
    height:5px;
} */

.navigation_panel{
    height:18vh;
    width: 100%;
    /* background-color: aqua;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 6vw;
}

.nav_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    /* background-color: red; */
    height: 15vh;
    cursor: pointer;
}

.nav_logo img{
    margin-top: 1em;
    height: 6.2vh;
    width: 6.2vw;
}


.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blueviolet; */
    gap: 4vw;
    /* margin-left:9px; */
    position: relative;
}

.content h2{
    font-family:Source Sans Pro;
    font-size:17.075px;
    font-weight:400;
    line-height:23.7153px;
    letter-spacing: .5px;
    color: rgba(188, 243, 255, 0.8);
    cursor: pointer;
    
}



    .content h2:nth-child(1):before{
        content: "";
        position: absolute;
        bottom:0;
        margin-top:100px;
        justify-content: center;
        align-items: left;
        transform: translate(-50%,-50%);
        transition: all ease 0.5s;
        height: 0.1vh;
        width:0vw;
        left: 2.2vw; 
    } 
    



.content :nth-child(1):hover:before{
    width:4.333vw;
    background-color: #fff; 
    
}

.content :nth-child(2)::before{
    height: 0.1vh;
    width:2vw;
    right: 1%;
    content: "";
    position: absolute;
    bottom:0;
    margin-top:100px;
    justify-content: center;
    align-items: left;
    transform: translate(-50%,-50%);
    transition: all ease 0.5s;
    height: 0.1vh;
    width:0vw;
    left: 10.8vw; 
    
}


.content :nth-child(2):hover:before{
    width:5vw;
    background-color: #fff; 
}


.content :nth-child(3)::before{
    height: 0.1vh;
    width:0vw;
    right: 1%;
    content: "";
    position: absolute;
    bottom:0;
    margin-top:100px;
    justify-content: center;
    align-items: left;
    transform: translate(-50%,-50%);
    transition: all ease 0.5s;
    left: 19.2vw; 
}


.content :nth-child(3):hover:before{
    width:4vw;
    background-color: #fff; 
}


.content :nth-child(4)::before{
    height: 0.1vh;
    width:0vw;
    content: "";
    position: absolute;
    bottom:0;
    margin-top:100px;
    justify-content: center;
    align-items: left;
    transform: translate(-50%,-50%);
    transition: all ease 0.5s;
    left: 28.5vw; 
}

.content :nth-child(4):hover:before{
    width:6.8vw;
    background-color:#fff; 
}


.navigation_panel button{
    height: 9.1vh;
    width:12vw;
    font-family: Source Sans Pro;
    font-size: 17.075px;
    font-weight: 700;
    line-height: 17.075px;
    color: rgb(188, 243, 255);
    background-color: transparent;
    border: 1px solid #BCF3FF;
    z-index: 9;
    position: relative;
} 

.navigation_panel button:hover{
    color: #000;
}

.navigation_panel button::before{
    content: "";
    height: 0%;
    width: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: #BCF3FF;
    z-index: -1;
    border-radius:50%;
    transition: all ease .5s;
}

.navigation_panel button:hover::before{
    height: 105%;
    width: 100%;
    border-radius: 0;
}


.circle-Gypto{
    height: 25vh;
    width:20vw;
    /* background-color:#190618; */
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
    animation-duration: 6s;
    transition: all ease 0.1s;
    filter: drop-shadow(0 0 30px rgba(243, 37, 71, 0.512));
}

@keyframes rotate {
    0%{
        rotate: -360deg;
    }

    100%{
        rotate: 360 deg;
    }
}

.circle-Gypto img{
    height: 22vh;

}


.side-card{
    height:78vh;
    width: 50vw;
    background-color: #000512;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 22%;
}

.side-card img{
    height:95%;
    width:95%;
    position: inherit;
   
}



.Heading{
    height: 45vh;
    width: 50vw;
    top: 40%;
    margin-left: 18%;
    /* background-color: rgb(7, 139, 255); */
    color: #fff;
    position: absolute;
    z-index: 99;
}

.Heading h1{
    font-family: "Bebas Neue Pro", sans-serif;
    font-size: 256.125px;
    font-weight: 700;
    line-height: 186.971px;
    color: rgb(255, 255, 255);
}

.Heading h2{
    font-family: "Bebas Neue Pro", sans-serif;
    font-size: 170.75px;
    font-weight: 700;
    line-height: 124.647px;
    color: rgb(255, 255, 255);
}


.title{
    /* background-color: red; */
    height: 8vh;
    width: 28vw;
    left: 50%;
    top: 88%;
    position:absolute;
    left: 55%;
}


.title h3{
    font-family: "Bebas Neue Pro", sans-serif;
    font-size: 33.1938px;
    font-weight: 700;
    line-height: 33.1938px;
    color: rgb(255, 255, 255);
}


.page2{
    height: 100vh;
    width: 100vw;
    background:#000512 ;
    position: relative;
}

.banner{
    height: 50%;
    width: 200vw;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(-550deg ,rgb(102, 179, 197), rgb(130, 93, 167) 47.52%, rgb(187, 101, 113));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 80px;
}

.content-left{
    height: 30%;
    width: 20%;
    /* background-color: red; */
    margin-left: 53%;
    margin-top: -2%;
}

.content-left h3{
    font-family:Source Sans Pro;
    font-size:17.075px;
    font-weight:400;
    line-height:17.075px;
    color: rgba(255, 255, 255, 0.8);
}

.content-left h2{
    font-family:Source Sans Pro;
    font-size:34.15px;
    font-weight:600;
    line-height:47.4306px;
    color:rgb(255, 255, 255);
    margin-top: 30px;
}

.content-right{
    height: 250px;
    width: 450px;
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.trading-fee{
    height: 250px;
    width: 190px;
    /* background-color: green; */
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trading-fee h2{
    font-family:"Source Sans Pro", sans-serif;
    font-size: 107px;
    font-weight: 400;
    line-height: 17.075px;
    color: rgb(255, 255, 255);
}

.trading-fee h2::before{
    content: "";
    border-bottom: 1.5px solid #fff;
    position: absolute;
    top: 55%;
    height: 3px;
    width: 35%;
}


.trading-fee h3{
    font-family:"Source Sans Pro", sans-serif;
    font-size: 17.075px;
    font-weight: 600;
    line-height: 17.075px;
    color: rgb(255, 255, 255);
    margin-top: 35%;
}

.trading-fee h3:hover{
    cursor: pointer;
}

.wallets-fee{
    height: 250px;
    width: 190px;
    /* background-color: rgb(109, 0, 128); */
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wallets-fee h2{
    font-family:"Source Sans Pro", sans-serif;
    font-size: 107px;
    font-weight: 400;
    line-height: 17.075px;
    color: rgb(255, 255, 255);
}

.wallets-fee h2::before{
    content: "";
    border-bottom: 1.5px solid #fff;
    position: absolute;
    top: 55%;
    height: 3px;
    width: 30%;
    left: 355px;
    transform: translate(-50%,-50%);
}

.wallets-fee h3{
    font-family:"Source Sans Pro", sans-serif;
    font-size: 17.075px;
    font-weight: 600;
    line-height: 17.075px;
    color: rgb(255, 255, 255);
    margin-top: 35%;
}


.wallets-fee h3:hover{
    cursor: pointer;
}


.page3{
    height: 100vh;
    width: 100vw;
    background-color: #000512;
    position: relative;
    padding: 0.1px 0px;
}

.logo-title{
    height: 180px;
    width: 180px;
    background:Conic-gradient(#fff,pink);
    margin-top: 5%;
    margin-left: 5%;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative ;
    filter: drop-shadow(50px 50px 30px rgba(243, 37, 71, 0.294));
    overflow: hidden;
    transition: all ease 0.3s;
}

.logo-title:hover{
    filter: drop-shadow(-50px -50px 30px rgba(243, 37, 71, 0.294)); 
}

.logo-title img{
    height: 160px;
    width: 160px;
    transition: all ease 0.5s;
}


.logo-title img:hover{
    scale: 1.5;
}

.description-logo{
    height: fit-content;
    width: 150px;
    /* background-color: yellow; */
    margin-left: 5%;
    margin-top: 3%;
}

.description-logo h3{
    font-family:"Source Sans Pro", sans-serif;
    font-size:17.075px;
    font-weight:400;
    line-height:23.7153px;
    color: rgba(255, 255, 255, 0.8);
}

.About{
    height: 500px;
    width: 60%;
    background-color: #fff;
    margin-left: 32%;
    margin-top: -14.7%;
    object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0 0 50px #000);
}


.About img{
    height: 500px;
    width: 100%;
    transition: all ease 0.5s;
}

.About img:hover{
    scale: 1.4;
}

.About h2{
    font-family:  "Source Sans Pro", sans-serif;
    font-size: 17.075px;
    font-weight: 400;
    line-height: 17.075px;
    color:rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 97%;    
    text-transform: uppercase;
    z-index: 9;
}
.page4{
    height: 100vh;
    width: 100vw;
    background-color:#000512;
}

.page4 .heading{
    height: 150px;
    width: 600px;
    /* background-color: red; */
    margin-left: 48%;
    margin-top: 2%;
    z-index: 9;
    position: absolute;
}

.heading h2{
    font-family: "Source Sans Pro", sans-serif;
    font-size:34.15px;
    font-weight:600;
    line-height:47.4306px;
    color:rgb(255, 255, 255);
}

.banner2{
    height: 80vh;
    width: 100vw;
    background-image: url(https://assets.website-files.com/62f52e1f730760cd231bb250/62f53fdeb9180f1a014f595b_bg.webp);
    position: relative;
    top: 70%;
    background-position: center;
    background-size: cover;
}

.banner2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.banner2 h2{
    position:absolute;
    bottom:10px;
    left: 8px;
    font-family: "Source Sans Pro", sans-serif;
    font-size:17.075px;
    font-weight:400;
    line-height:17.075px;
    color:rgba(255, 255, 255, 0.8);
}


.banner2 h3{
    position:absolute;
    bottom:10px;
    left: 90%;
    font-family: "Source Sans Pro", sans-serif;
    font-size:17.075px;
    font-weight:400;
    line-height:17.075px;
    color:rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.banner2 h3::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 54px;
    transform:translate(-50%,-50%);
    border-bottom: 2px solid #BCF3FF;
    width:0px;
    transition: all ease 0.5s;
}

.banner2 h3:hover::after{
    width: 105px;
}

#Banner-2_title{
    height:150px;
    width: 590px;
    /* background-color: aqua; */
    margin-left:30%;
    margin-top: -0.1%;
    font-family: "Source Sans Pro", sans-serif;
    font-size:34.15px;
    font-weight:600;
    line-height:47.4306px;
    color:rgb(255, 255, 255);
    position: relative;
}



.page5{
    height: 170vh;
    width: 100vw;
    background-color:#000512;
}

hr{
    height: 1px;
    width: 91%;
    background-color: #1C212B;
    position: relative;
    top: 120%;
    border: none;
    margin-left: 40px;
    left: 70px;
}




.Gypto-info{
    height: 50%;
    width: 90%;
    /* background-color: rgb(204, 124, 32); */
    position: relative;
    top: 130%;
    left: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:left;
}


.info1{
    height: 150px;
    width: 250px;
    /* background-color: rgb(32, 204, 49); */
    position: relative;
    right: 3.2%;
}

.info1 img{
    cursor:pointer;
}


.info1 h2{
    font-family: "Neue Haas Display Roman", sans-serif;
    font-size: 17.075px;
    font-weight:400;
    line-height: 23.7153px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
}

.info2{
    height: 150px;
    width: 250px;
    /* background-color: rgb(32, 98, 204); */
    position: relative;
    display: flex;
    align-items:left;
    justify-content: left;
    flex-direction: column;
    right: 3.2%;
    cursor: pointer;
}

.info2 img{
    height: 35px;
    width: 35px;
    margin-top: 20%;
}

.info2 h3{
    font-family:"Neue Haas Display Roman", sans-serif;
    font-size:14.2064px;
    font-weight:400;
    line-height:19.889px;
    color:rgba(255, 255, 255, 0.8);
    margin-left:18%;
    margin-top:-14%;
}


.info3{
    height: 250px;
    width: 350px;
    /* background-color: rgb(205, 19, 177); */
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    
}

.info3 h2{
    font-family:"Neue Haas Display Medium", sans-serif;
    font-size:20.8998px;
    font-weight:700;
    line-height:24.6998px;
    color: #fff;
}

.inner-info{
    height:90%;
    width:100%;
    /* background-color: aqua; */
    display: flex;
    align-items: first  baseline;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    height: 25px;
    width: 150px;
    /* background-color: red; */
    margin-left: -7%;
    position: relative;
    cursor: pointer;
    margin-top: 15%;
}

.card h2{
    font-family: "Neue Haas Display Roman", sans-serif;
    font-size:17.075px;
    font-weight: 400;
    line-height:23.7153px;
    color:rgb(255, 255, 255);
}

.card h2::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* transform:translate(0%,0%); */
    border-bottom: 1px solid rgb(102, 179, 197);
    width:0px;
    transition: all ease 0.5s
}

.card h2:hover::after{
    width: 95px;
}

.get{
    height: 25px;
    width: 150px;
    /* background-color: rgb(0, 255, 149); */
    position: relative;
    cursor: pointer;
}

.get h2{
    font-family: "Neue Haas Display Roman", sans-serif;
    font-size:17.075px;
    font-weight: 400;
    line-height:23.7153px;
    color:rgb(255, 255, 255);
}

.get h2::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* transform:translate(0%,0%); */
    border-bottom: 1px solid rgb(102, 179, 197);
    width:0px;
    transition: all ease 0.5s
}

.get h2:hover::after{
    width: 58px;
}


.mobile{
    height: 25px;
    width: 150px;
    /* background-color: rgb(2, 18, 11); */
    margin-left: -7%;
    position:relative;
    margin-bottom: 20%;
    cursor: pointer;
    margin-top: 7%;
}

.mobile h2{
    font-family: "Neue Haas Display Roman", sans-serif;
    font-size:17.075px;
    font-weight: 400;
    line-height:23.7153px;
    color:rgb(255, 255, 255);
}

.mobile h2::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* transform:translate(0%,0%); */
    border-bottom: 1px solid rgb(102, 179, 197);
    width:0px;
    transition: all ease 0.5s
}

.mobile h2:hover::after{
    width: 84px;
}





.about{
    height: 25px;
    width: 150px;
    /* background-color: rgb(25, 21, 148); */
    position: relative;
    cursor: pointer;
}

.about h2{
    font-family: "Neue Haas Display Roman", sans-serif;
    font-size:17.075px;
    font-weight: 400;
    line-height:23.7153px;
    color:rgb(255, 255, 255);
}

.about h2::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* transform:translate(0%,0%); */
    border-bottom: 1px solid rgb(102, 179, 197);
    width:0px;
    transition: all ease 0.5s
}

.about h2:hover::after{
    width: 50px;
}

.social-panel{
    height:40px;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -2%;
}

.social-media{
    height: 100%;
    width:40px;
    /* background-color: transparent; */
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
}

.social-media:hover{
    cursor: pointer;
    border: 1px solid #fff;
}

.social-media i{
    font-size:17.075px;
    font-weight: 400;
    color: #fff;
}



.info4{
    height: 250px;
    width: 400px;
    /* background-color: rgb(205, 19, 19); */
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}


.info4 h2{
    font-family:"Neue Haas Display Medium", sans-serif;
    font-size:20.8998px;
    font-weight:700;
    line-height:24.6998px;
    color: #fff;
}

.info-contact{
    height:90%;
    width:100%;
    /* background-color: aqua; */
    display: flex;
    align-items:first baseline;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.mail-1{
    height: 25px;
    width: 150px;
    /* background-color: rgb(2, 18, 11); */
    margin-left: -7%;
    margin-top: 15%;
    cursor:pointer;
}

.mail-1 h2{
    font-family:"Neue Haas Display Roman", sans-serif;
    font-size:17.075px;
    font-weight:400;
    line-height:23.7153px;
    color:#fff;
}

.mail2{
    height: 25px;
    width: 150px;
    /* background-color: rgb(15, 202, 121); */
    margin-left: -7%;
    margin-bottom: 32%;
    margin-top: 5%;
    cursor:pointer;
}

.mail2 h2{
    font-family:"Neue Haas Display Roman", sans-serif;
    font-size:17.075px;
    font-weight:400;
    line-height:23.7153px;
    color:#fff;
    
}

.tele-num{
    height: 25px;
    width: 190px;
    cursor:pointer;
    /* background-color: rgb(165, 202, 15); */
}

.tele-num h2{
    font-family:"Neue Haas Display Roman", sans-serif;
    font-size:17.075px;
    font-weight:400;
    line-height:23.7153px;
    color:#fff;
}





.address{
    height: 25px;
    width: 190px;
    /* background-color: rgb(202, 137, 15); */
}

.address h2{
    font-family:"Neue Haas Display Roman", sans-serif;
    font-size:17.075px;
    font-weight:400;
    line-height:23.7153px;
    color:#fff;
}

footer{
    height: 40px;
    width: 100%;
    background-image:linear-gradient(90deg,#4c7983,#785257);
    position: relative;
    top: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

footer span{
    height: 30px;
    width: 30px;
}

footer h3{
    height: 100%;
    width: fit-content;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Neue Haas Display Roman", sans-serif;
    font-size:12.0208px;
    font-weight:400;
    line-height:18.0312px;
    color:#fff;
}

footer a{
    color: #fff;
}